#App {
    text-align: center;
}

.destyledButton {
    color: #347AB7;
}

p {
    margin-top: 0.5em;
}

svg {
    vertical-align: middle;
}

h1 {
    font-family: "Oswald", "HelveticaNeue-CondensedBold", "Arial Narrow", sans-serif;
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
}

hr {
    border: 0 none;
    border-top: 1px solid #aaa;
}

code {
    font-size: 16px;
}



.breadcrumbs {
    height: 1em;
    margin: 1em 0;
}

.uploadArea {
    position: relative;
    margin: 0 auto;
    min-height: 350px;
}
.uploadArea--needsUpload {
    border: 2px dashed #AC9062;
    border-radius: 10px;
    cursor: pointer;
}

.uploadArea--dragging {
    border-style: solid;
    background-color: #E6D4B6;
}

.uploadArea-uploadMessage {
    display: none;
    font-size: 1.9em;
    text-align: center;
    margin-top: 100px;
    pointer-events: none;
}
.uploadArea--needsUpload .uploadArea-uploadMessage {
    display: block;
}

.uploadArea-uploadMessage small {
    font-size: 0.5em;
}


.chart {
    position: relative;
    margin: 0 auto;
    min-height: 350px;
}
.chart--large {
    width: 950px;
    margin-left: -100px;
}



.hiddenFileInput {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.chart path {
    stroke: #fff;
}

.details {
    position: absolute;
    top: 325px;
    left: 50%;
    width: 170px;
    margin-left: -85px;
    font-size: 14px;
    text-align: center;
    color: #666;
    z-index: -1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chart--large .details {
    top: 425px;
}

.details-size {
    font-size: 0.9em;
    margin-top: 1em;
}

.details-name {
    font-weight: bold;
}

.details-subText {
    min-height: 1.2em;
}

.details-percentage {
    margin: 0.4em 0 0em;
    font-size: 2.4em;
    line-height: 1em;
}



.errorMessage {
    margin-top: 2em;
    padding: 0.8em 1em;
    border: 1px solid #ab2222;
    color: #ab2222;
}


footer {
    margin-top: 4em;
}

footer h2 {
    margin: 1.5em 0 0.5em;
    font-size: 1.3em;
}



.destyledButton {
    background: none;
    border: 0 none;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    text-decoration: underline;
}

#App h1, #App footer { display: none; }